version: "3"
services:
  boberto-web:
    build: ./web
    ports:
      - "80:80"
    restart: always
    env_file:
      - .env
    container_name: boberto-web
    volumes:
      - ./web:/var/www/html
      - ./web/config/php.ini:/usr/local/etc/php/php.ini
  boberto-home:
    build: .
    container_name: boberto
    restart: always
    ports:
      - '90:90'
    env_file:
      - .env
    volumes:
      - ./:/code
      - /:/rootfs:ro
      - /var/run/docker.sock:/var/run/docker.sock

  # boberto-database:
  #   container_name: boberto-database
  #   image: postgres
  #   restart: always
  #   networks:
  #     - default 
  #   environment:
  #     POSTGRES_USER: root
  #     POSTGRES_PASSWORD: root
  #     POSTGRES_DB: boberto
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # redis-compose:
  #   image: redis
  #   restart: always
  #   container_name: boberto-redis
  #   command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
  #   env_file:
  #     - .env
  #   hostname: redis
  #   ports:
  #     - "6379:6379"

  # boberto-api:
  #   build: ./api
  #   ports:
  #     - "5000:5000"
  #   container_name: boberto-api
  #   restart: always
  #   env_file:
  #     - .env
  #   volumes:
  #     - ./web/data/cliente:/var/www/html/cliente
  #     - ./api/web:/var/www/html
  #     - ./api/web/config/php.ini:/usr/local/etc/php/php.ini